@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@100;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}
/* Section Content Size Calculations */

.content-base {
  height: calc(100vh - theme("spacing.base"));
  width: 100vw;
}
.content-sm {
  height: calc(100vh - theme("spacing.sm"));
  width: 100vw;
}
.content-md {
  height: calc(100vh - theme("spacing.md"));
  width: 100vw;
}
.content-lg {
  height: calc(100vh - theme("spacing.lg"));
  width: 100vw;
}
.content-xl {
  height: calc(100vh - theme("spacing.xl"));
  width: 100vw;
}

/* Fix Hover States */

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover .hover-target {
  display: block;
}
